$color1: black;
$color2: grey;
$color3: rgba(255, 255, 255, .8);
$color4: #f7f7f7;
$color5: #864949;
$color6: lightgrey;
$color7: darkgrey;
$color8: rgb(177, 176, 176);
$color9: rgb(97, 97, 97);
$color10: rgba(240, 240, 240, 0.75);

$basic-black: $color1;
$grey-media-border: $color2;
$transparent-media-bg: $color3;
$white-box-bg: $color4;
$brown-shadow-border: $color5;
$grey-footer-bg: $color6;
$logo-line: $color7;
$link-grey: $color8;
$link-hover: $color9;
$overlay-bg: $color10;